<ion-tabs>
  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="camara">
      <ion-icon name="camera-outline"></ion-icon>
      <ion-label>Cámara</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="fotos">
      <ion-icon name="images-outline"></ion-icon>
      <ion-label>Galería</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>